openapi: 3.2.0
info:
  title: TextMaster API v1 Work Templates API
  version: v1
servers:
- url: https://api.textmaster.com
tags:
- name: Work Templates
paths:
  /v1/clients/work_templates:
    get:
      summary: List Work Templates
      tags:
      - Work Templates
      security:
      - oauth2: []
      parameters:
      - name: page
        in: query
        required: false
        description: Search results are limited to 100 items. Specify page number to read more than the first page.
        schema:
          type: integer
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                example_0:
                  value:
                    error: invalid_token
                    error_description: The access token is invalid
                    state: unauthorizez
        '200':
          description: Lists Work Templates
          content:
            application/json:
              examples:
                example_0:
                  value:
                    work_templates:
                    - name: 1_title_1_paragraph
                      description: null
                      image_preview_path: null
                      ctype: public
                    - name: 2_paragraphs
                      description: null
                      image_preview_path: null
                      ctype: public
                    total_pages: 1
                    count: 1
                    page: 1
                    per_page: 20
                    previous_page: null
                    next_page: null
              schema:
                type: object
                properties:
                  total_pages:
                    type: integer
                  count:
                    type: integer
                  page:
                    type: integer
                  per_page:
                    type: integer
                  previous_page:
                    type:
                    - integer
                    - 'null'
                  next_page:
                    type:
                    - integer
                    - 'null'
                  work_templates:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkTemplate'
  /v1/clients/work_templates/{work_template_name}:
    get:
      summary: Retrieve a Work Templates
      tags:
      - Work Templates
      security:
      - oauth2: []
      parameters:
      - name: work_template_name
        in: path
        required: true
        description: The Work Template name
        schema:
          type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                example_0:
                  value:
                    error: invalid_token
                    error_description: The access token is invalid
                    state: unauthorizez
        '200':
          description: Gets a Work Templates
          content:
            application/json:
              examples:
                example_0:
                  value:
                    name: 1_title_1_paragraph
                    description: null
                    image_preview_path: null
                    ctype: public
              schema:
                $ref: '#/components/schemas/WorkTemplate'
components:
  schemas:
    WorkTemplate:
      type: object
      properties:
        name:
          type: string
        description:
          type:
          - string
          - 'null'
        image_preview_path:
          type:
          - string
          - 'null'
        ctype:
          type: string
          enum:
          - public
          - private
      required:
      - name
      - ctype
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth2 Bearer token authentication
      flows:
        authorizationCode:
          authorizationUrl: https://api.textmaster.com/oauth/authorize
          tokenUrl: https://api.textmaster.com/oauth/token
          refreshUrl: https://api.textmaster.com/oauth/token
          scopes:
            preferred_author:manage: Allow read & write access to My Authors
            preferred_author:read: Allow read access to My Authors
            preferred_author:write: Allow write access to My Authors
