openapi: 3.2.0
info:
  title: TextMaster API v1 Negotiated Contracts API
  version: v1
servers:
- url: https://api.textmaster.com
tags:
- name: Negotiated Contracts
paths:
  /v1/clients/negotiated_contracts:
    get:
      summary: List Negotiated Contracts
      tags:
      - Negotiated Contracts
      security:
      - oauth2: []
      parameters:
      - name: page
        in: query
        required: false
        description: Search results are limited to 100 items. Specify page number to read more than the first page.
        schema:
          type: integer
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                example_0:
                  value:
                    error: invalid_token
                    error_description: The access token is invalid
                    state: unauthorizez
        '200':
          description: Lists Negotiated Contracts
          content:
            application/json:
              examples:
                example_0:
                  value:
                    total_pages: 1
                    count: 1
                    page: 1
                    per_page: 20
                    previous_page: null
                    next_page: null
                    negotiated_contracts:
                    - id: 61698ab18b81926d91c0e8d7
                      name: Special eCommerce 1
                      client_pricing: -5
                      client_pricing_in_currency: -0.007
              schema:
                type: object
                properties:
                  total_pages:
                    type: integer
                  count:
                    type: integer
                  page:
                    type: integer
                  per_page:
                    type: integer
                  previous_page:
                    type:
                    - integer
                    - 'null'
                  next_page:
                    type:
                    - integer
                    - 'null'
                  my_authors:
                    type: array
                    items:
                      $ref: '#/components/schemas/NegotiatedContract'
components:
  schemas:
    NegotiatedContract:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        client_pricing:
          type: number
        client_pricing_in_currency:
          type: number
      required:
      - id
      - name
      - client_pricing
      - client_pricing_in_currency
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth2 Bearer token authentication
      flows:
        authorizationCode:
          authorizationUrl: https://api.textmaster.com/oauth/authorize
          tokenUrl: https://api.textmaster.com/oauth/token
          refreshUrl: https://api.textmaster.com/oauth/token
          scopes:
            preferred_author:manage: Allow read & write access to My Authors
            preferred_author:read: Allow read access to My Authors
            preferred_author:write: Allow write access to My Authors
