openapi: 3.2.0
info:
  title: TextMaster API v1 Categories API
  version: v1
servers:
- url: https://api.textmaster.com
tags:
- name: Categories
paths:
  /v1/public/categories:
    get:
      summary: List Categories
      tags:
      - Categories
      responses:
        '200':
          description: Lists categories
          content:
            application/json:
              examples:
                example_0:
                  value:
                    categories:
                    - code: C032
                      value: Adult content
                    - code: C002
                      value: Aerospace
                    - code: C003
                      value: Animals/Pets/Plants
                    - code: C004
                      value: Arts/Culture/Literature
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
                    minItems: 1
                    uniqueItems: true
components:
  schemas:
    Category:
      type: object
      properties:
        code:
          type: string
          enum:
          - C001
          - C002
          - C003
          - C004
          - C005
          - C006
          - C007
          - C008
          - C009
          - C010
          - C011
          - C012
          - C013
          - C014
          - C015
          - C016
          - C017
          - C018
          - C019
          - C020
          - C021
          - C022
          - C023
          - C024
          - C025
          - C026
          - C027
          - C028
          - C029
          - C030
          - C031
          - C032
          - C033
          - C034
        value:
          type: string
      required:
      - code
      - value
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth2 Bearer token authentication
      flows:
        authorizationCode:
          authorizationUrl: https://api.textmaster.com/oauth/authorize
          tokenUrl: https://api.textmaster.com/oauth/token
          refreshUrl: https://api.textmaster.com/oauth/token
          scopes:
            preferred_author:manage: Allow read & write access to My Authors
            preferred_author:read: Allow read access to My Authors
            preferred_author:write: Allow write access to My Authors
