openapi: 3.2.0
info:
  title: TextMaster API v1 Abilities API
  version: v1
servers:
- url: https://api.textmaster.com
tags:
- name: Abilities
paths:
  /v1/clients/abilities:
    get:
      summary: List Abilities
      tags:
      - Abilities
      security:
      - oauth2: []
      parameters:
      - name: activity
        in: query
        required: false
        description: 'Filters abilities on a specific activity.


          Possible values:


          * translation

          * copywriting

          * proofreading

          '
        schema:
          type: string
          enum:
          - translation
          - copywriting
          - proofreading
      - name: language_from
        in: query
        required: false
        description: 'Bigram representing a language (ex: en-us). Full list available via API call.'
        schema:
          type: string
          pattern: ^[a-z]{2}(-[a-z]{2})?$
      - name: language_to
        in: query
        required: false
        description: 'Bigram representing a language (ex: en-us). Full list available via API call.'
        schema:
          type: string
          pattern: ^[a-z]{2}(-[a-z]{2})?$
      - name: currency_code
        in: query
        required: false
        description: 'Currency used to display the pricing (defaults to your account currency).


          Possible values: EUR, AUD, GBP, HKD, JPY, USD

          '
        schema:
          type: string
          enum:
          - EUR
          - AUD
          - GBP
          - HKD
          - JPY
          - USD
      - name: locale
        in: query
        required: false
        description: '[DEPRECATED] Locale used to display the pricing (defaults to en-EU).


          Possible values:


          * en-EU: pricing in EURO

          * en-GB: pricing in GBP

          * en-US: pricing in USD

          '
        schema:
          type: string
          enum:
          - en-EU
          - en-GB
          - en-US
      - name: page
        in: query
        required: false
        description: Search results are limited to 100 items. Specify page number to read more than the first page.
        schema:
          type: integer
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                example_0:
                  value:
                    error: invalid_token
                    error_description: The access token is invalid
                    state: unauthorizez
        '200':
          description: Lists abilities
          content:
            application/json:
              examples:
                example_0:
                  value:
                    data:
                    - id: 61698a988b81926d91c0e15f
                      level_name: enterprise
                      language_from: fr-fr
                      language_to: fr-fr
                      pricing:
                        enterprise: 0.014
                        specific_attachment: 0.014
                        priority: 0.014
                        quality: 0.014
                        translation_memory: 0.0
                    - id: 61698a998b81926d91c0e185
                      level_name: regular
                      language_from: fr-fr
                      language_to: fr-fr
                      pricing:
                        regular: 0.014
                        specific_attachment: 0.014
                        priority: 0.014
                        quality: 0.014
                        translation_memory: 0.0
                    - id: 61698a998b81926d91c0e197
                      level_name: premium
                      language_from: fr-fr
                      language_to: fr-fr
                      pricing:
                        premium: 0.014
                        specific_attachment: 0.014
                        priority: 0.014
                        quality: 0.014
                        translation_memory: 0.0
              schema:
                type: object
                properties:
                  total_pages:
                    type: integer
                  count:
                    type: integer
                  page:
                    type: integer
                  per_page:
                    type: integer
                  previous_page:
                    type:
                    - integer
                    - 'null'
                  next_page:
                    type:
                    - integer
                    - 'null'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Ability'
                    minItems: 1
                    uniqueItems: true
components:
  schemas:
    Ability:
      type: object
      properties:
        id:
          type: string
        level_name:
          type: string
          enum:
          - enterprise
          - regular
          - premium
        language_from:
          type: string
          pattern: ^[a-z]{2}(-[a-z]{2})?$
        language_to:
          type: string
          pattern: ^[a-z]{2}(-[a-z]{2})?$
        pricing:
          type: object
          properties:
            enterprise:
              type: number
            specific_attachment:
              type: number
            priority:
              type: number
            quality:
              type: number
            translation_memory:
              type: number
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth2 Bearer token authentication
      flows:
        authorizationCode:
          authorizationUrl: https://api.textmaster.com/oauth/authorize
          tokenUrl: https://api.textmaster.com/oauth/token
          refreshUrl: https://api.textmaster.com/oauth/token
          scopes:
            preferred_author:manage: Allow read & write access to My Authors
            preferred_author:read: Allow read access to My Authors
            preferred_author:write: Allow write access to My Authors
